@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1rem 1rem;
    box-shadow: 5px 5px 20px rgba(0,0,0, .5);
    background: black;
}

.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
}

#navbarSupportedContent a{
    color:white;
    border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid red;
}

#navbarSupportedContent button{
    background: white;
    width: 5rem; 
    border-radius: 5px; 
    padding: auto;
}

.dropdown-item{
    background: black !important;
}

.dropdown-menu{
    background: black !important;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url(netflixbg.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;

}

#home h1{
    font-size: 100px;
    color: white;
}

p{
    color: white;
    font-size: 18px;
}

#home .input-group{
    width: 40%;
    height: 45px;
}

.signin{
    background: red !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0, .3);
}

.btn:hover{
    background: red;

}

img{
    width: 250px;
    height: 250px;
}