.section-design .section-design-materials .section-mini .image-mini {
    background-image: url("/v/iphone-12/a/images-geo/design_mini__c06shv17wemq_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-design .section-design-materials .section-mini .image-mini {
        background-image: url("/v/iphone-12/a/images-geo/design_mini__c06shv17wemq_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-design .section-design-materials .section-mini .image-mini {
        background-image: url("/v/iphone-12/a/images-geo/design_mini__c06shv17wemq_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-design .section-design-materials .section-mini .image-mini {
        background-image: url("/v/iphone-12/a/images-geo/design_mini__c06shv17wemq_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-design .section-design-materials .section-mini .image-mini {
        background-image: url("/v/iphone-12/a/images-geo/design_mini__c06shv17wemq_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-design .section-design-materials .section-mini .image-mini {
        background-image: url("/v/iphone-12/a/images-geo/design_mini__c06shv17wemq_small_2x.jpg")
    }
}
.section-design .water-resistance .image-hardware {
    background-image: url("/v/iphone-12/a/images-geo/design_h2ok__dw6rbktprpm6_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-design .water-resistance .image-hardware {
        background-image: url("/v/iphone-12/a/images-geo/design_h2ok__dw6rbktprpm6_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-design .water-resistance .image-hardware {
        background-image: url("/v/iphone-12/a/images-geo/design_h2ok__dw6rbktprpm6_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-design .water-resistance .image-hardware {
        background-image: url("/v/iphone-12/a/images-geo/design_h2ok__dw6rbktprpm6_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-design .water-resistance .image-hardware {
        background-image: url("/v/iphone-12/a/images-geo/design_h2ok__dw6rbktprpm6_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-design .water-resistance .image-hardware {
        background-image: url("/v/iphone-12/a/images-geo/design_h2ok__dw6rbktprpm6_small_2x.jpg")
    }
}

.section-hero .video-container {
    background-image: url("/v/iphone-12/a/images-geo/hero__et6f3ak6d1oy_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-hero .video-container {
        background-image: url("/v/iphone-12/a/images-geo/hero__et6f3ak6d1oy_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-hero .video-container {
        background-image: url("/v/iphone-12/a/images-geo/hero__et6f3ak6d1oy_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-hero .video-container {
        background-image: url("/v/iphone-12/a/images-geo/hero__et6f3ak6d1oy_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-hero .video-container {
        background-image: url("/v/iphone-12/a/images-geo/hero__et6f3ak6d1oy_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-hero .video-container {
        background-image: url("/v/iphone-12/a/images-geo/hero__et6f3ak6d1oy_small_2x.jpg")
    }
}
.section-design .section-design-materials .section-aluminum-edges .image-aluminum-edges {
    background-image: url("/v/iphone-12/a/images-geo/design_edge__r8nky7797oae_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-design .section-design-materials .section-aluminum-edges .image-aluminum-edges {
        background-image: url("/v/iphone-12/a/images-geo/design_edge__r8nky7797oae_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-design .section-design-materials .section-aluminum-edges .image-aluminum-edges {
        background-image: url("/v/iphone-12/a/images-geo/design_edge__r8nky7797oae_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-design .section-design-materials .section-aluminum-edges .image-aluminum-edges {
        background-image: url("/v/iphone-12/a/images-geo/design_edge__r8nky7797oae_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-design .section-design-materials .section-aluminum-edges .image-aluminum-edges {
        background-image: url("/v/iphone-12/a/images-geo/design_edge__r8nky7797oae_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-design .section-design-materials .section-aluminum-edges .image-aluminum-edges {
        background-image: url("/v/iphone-12/a/images-geo/design_edge__r8nky7797oae_small_2x.jpg")
    }
}
.section-magsafe .magsafe-click .media-frame {
    background-image: url("/v/iphone-12/a/images-geo/click_static__f9fcnqbi5d26_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-magsafe .magsafe-click .media-frame {
        background-image: url("/v/iphone-12/a/images-geo/click_static__f9fcnqbi5d26_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-magsafe .magsafe-click .media-frame {
        background-image: url("/v/iphone-12/a/images-geo/click_static__f9fcnqbi5d26_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-magsafe .magsafe-click .media-frame {
        background-image: url("/v/iphone-12/a/images-geo/click_static__f9fcnqbi5d26_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-magsafe .magsafe-click .media-frame {
        background-image: url("/v/iphone-12/a/images-geo/click_static__f9fcnqbi5d26_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-magsafe .magsafe-click .media-frame {
        background-image: url("/v/iphone-12/a/images-geo/click_static__f9fcnqbi5d26_small_2x.jpg")
    }
}

.section-hands .compare .image-design-iphone-12 {
    background-image: url("/v/iphone-12/a/images-geo/design_skinny__rvab4e8cyv2i_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-hands .compare .image-design-iphone-12 {
        background-image: url("/v/iphone-12/a/images-geo/design_skinny__rvab4e8cyv2i_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-hands .compare .image-design-iphone-12 {
        background-image: url("/v/iphone-12/a/images-geo/design_skinny__rvab4e8cyv2i_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-hands .compare .image-design-iphone-12 {
        background-image: url("/v/iphone-12/a/images-geo/design_skinny__rvab4e8cyv2i_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-hands .compare .image-design-iphone-12 {
        background-image: url("/v/iphone-12/a/images-geo/design_skinny__rvab4e8cyv2i_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-hands .compare .image-design-iphone-12 {
        background-image: url("/v/iphone-12/a/images-geo/design_skinny__rvab4e8cyv2i_small_2x.jpg")
    }
}

.section-accessories .accessories-magsafe .image-magsafe {
    background-image: url("/v/iphone-12/a/images-geo/magsafe__emhukwz2mhiu_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-accessories .accessories-magsafe .image-magsafe {
        background-image: url("/v/iphone-12/a/images-geo/magsafe__emhukwz2mhiu_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-accessories .accessories-magsafe .image-magsafe {
        background-image: url("/v/iphone-12/a/images-geo/magsafe__emhukwz2mhiu_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-accessories .accessories-magsafe .image-magsafe {
        background-image: url("/v/iphone-12/a/images-geo/magsafe__emhukwz2mhiu_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-accessories .accessories-magsafe .image-magsafe {
        background-image: url("/v/iphone-12/a/images-geo/magsafe__emhukwz2mhiu_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-accessories .accessories-magsafe .image-magsafe {
        background-image: url("/v/iphone-12/a/images-geo/magsafe__emhukwz2mhiu_small_2x.jpg")
    }
}



@media only screen and (max-width: 734px){
.typography-section-intro-alt {
    font-size: 17px;
    letter-spacing: .6px;
}
}
